@import '../../app.scss';

.aboutSection {
  margin: 10px 80px;
  height: 100vh;
  h1 {
    color: white;
    position: relative;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    &::after {
      content: ' ';
      position: absolute;
      width: 8%;
      height: 3px;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      background-image: linear-gradient(to right, #0c0c1d, orange);
    }
  }
  @include mobile {
    margin: 0px;
    h1 {
      padding-top: 10px;
      margin-bottom: 40px;
    }
  }
  h2 {
    color: white;
    // font-weight: bold;
    margin: 10px 0px;
    padding: 0;
    font-size: 25px;
  }
  .aboutBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .textBox {
      padding: 10px;
    }
    p {
      letter-spacing: 1px;
      margin-bottom: 10px;
      text-align: justify;
      margin-bottom: 20px;
    }
    img {
      width: 40%;
      margin-left: -90px;
    }
    @include mobile {
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      margin-top: 10px;
      p {
        font-size: 12px;
        padding: 0px 20px;
      }
      img {
        margin-left: -0px;
        width: 50%;
      }
    }
  }
  .skillsBox {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .skillsItem {
      padding: 0.5rem;
      border-radius: 0.25rem;
      font-size: 12px;
      line-height: 1.25rem;
      color: #000000;
      background-color: #ffffff;

      &:hover {
        color: #ffffff;
        background-color: #000000;
      }
    }
    @include mobile {
      gap: 8px;

      .skillsItem {
        padding: 5px;
        font-size: 10px;
      }
    }
  }
}
