/* Variables */
$color-1: rgb(255, 255, 255);
$color-2: #0c0c1d;
$color-3: orange;
.timelineMain {
  width: 100%;
  height: 80%;
  display: grid;
  place-items: center;
  padding: 50px 0;
}
  .timelineMain .head {
    font-size: 40px;
    color: white;
    position: relative;
  margin-bottom: 100px;
  font-weight: bold;
  text-align: center;
}
.timelineMain .head::after {
  content: ' ';
  position: absolute;
  width: 50%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  background-image: linear-gradient(to right, $color-2, $color-3);
}

/* Container Css Start  */

.container {
  width: 70%;
  height: auto;
  margin: auto 0;
  position: relative;
}
.container ul {
  list-style: none;
}
.container ul::after {
  content: ' ';
  position: absolute;
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-image: linear-gradient(to bottom, white, white);
}
.container ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  // background-color: #fff;
  border-radius: 1px;
  box-shadow: 1px 1px 15px rgba(132, 131, 131, 0.218);
  position: relative;
  margin-bottom: 70px;
  z-index: 99;
}
.container ul li:nth-child(4) {
  margin-bottom: 0;
}
.container ul li .circle {
  position: absolute;
  width: 18px;
  height: 18px;
  rotate: 45deg;
  background-color: rgb(255, 255, 255);
  top: 0;
  display: grid;
  place-items: center;
  // border-radius: 50%;
  // outline: 8px solid rgb(255, 255, 255);
}
// .circle::after {
  //   content: ' ';
  //   width: 12px;
  //   height: 12px;
  //   background-color: rebeccapurple;
  //   border-radius: 50%;
  // }
  ul li:nth-child(odd) .circle {
  transform: translate(50%, -50%);
  right: -27px;
}
ul li:nth-child(even) .circle {
  transform: translate(-50%, -50%);
  left: -39px;
}
ul li .date {
  position: absolute;
  padding: 10px;
  height: 33px;
  top: -45px;
  display: grid;
  place-items: center;
  font-size: 13px;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  background-color: black;
}
.container ul li:nth-child(odd) {
  float: left;
  clear: right;
  text-align: right;
  transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
  right: 20px;
}
.container ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(30px);
}
ul li .heading {
  font-size: 17px;
  color: $color-1;
}
ul li p {
  font-size: 13px;
  color: #666;
  line-height: 18px;
  margin: 6px 0 4px 0;
}
ul li a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(18, 54, 214);
  transition: all 0.3s ease;
}


@media only screen and (max-width: 798px) {
  
  
  .container ul::after {
    left: -40px;
  }
  .container ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }
  .container ul li .circle {
    left: -49px !important;
    transform: translate(-50%, -50%) !important;
  }
  .container ul li .date {
    left: 20px;
  }
  .container ul li:nth-child(odd) {
    transform: translateX(0px) !important;
    text-align: left;
  }
  .container ul li:nth-child(even) {
    transform: translateX(0px) !important;
  }
}

@media only screen and (max-width: 550px) {

  .container{
    width: 90%;
  }
  .container ul::after {
    left: -20px;
  }
  .container ul li .circle {
    left: -30px !important;
  }
  .timelineMain .head {
    text-align: center;
    font-size: 25px;
    margin-bottom: 65px;
    margin-top: 35px;
  }
}
